.Buying {
    width: 38rem;
}

.Buying form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Buying label {
    width: 100%;
}

.Buying h3 {
    width: 100%;
    margin: 0.5rem;
}

.Buying input {
    margin: 0.5rem;
    width: 80%;
}

.flexNorm{
    display: flex;
    width: 100%;
}

.flexNorm p{
    /* all: unset; */
    font-size: 0.8rem;
}

.flexNorm input {
    margin: 0.5rem;
    width: 80%;
}

.colFlex{
    display: flex;
    flex-direction: column;
}


.dropDown {
    margin: 0.5rem;
    width: 82%;
    
    padding: 1px 2px;
}