.Buying {
    width: 38rem;
}

/* .Buying form{
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.Buying label {
    width: 100%;
}

.Buying h3 {
    width: 100%;
    margin: 0.5rem;
}

.Buying input {
    margin: 0.5rem;
    width: 80%;
}

.BuyingWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #05A;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 10px 6px -6px #777;
}

.Buy h4{
    margin-top: 0.5rem;
}

.flexNorm{
    display: flex;
    width: 100%;
}

.flexNorm p{
    /* all: unset; */
    font-size: 0.8rem;
}

.flexNorm input {
    margin: 0.5rem;
    width: 80%;
}

.colFlex{
    display: flex;
    flex-direction: column;
}


.dropDown {
    margin: 0.5rem;
    width: 82%;
    
    padding: 1px 2px;
}

.viewBuy{
    display: flex;
    height: 2rem;
    justify-content: space-around;
    align-items: center;
    margin: 1rem auto;
}

.viewBuy p{
    font-size: 0.8rem;
}

.viewBuy button{
    all: unset;
    margin: 1rem;
    background-color: #05A;
    padding: 0.5rem;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    height: 1.2rem;
    width: 1.2rem;
    text-align: middle;
    /* transition: all 0.3s ease 0s; */
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
/* 
.viewBuy button:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-4px);
    transform: rotate(180deg);
  } */