.Saving{
    width: 38rem;
    margin: auto;
}

.Saving p{
    font-size: 0.8rem;
}

.SavingWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #05A;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 10px 6px -6px #777;
}

.SavingWrapper h4{
    margin: 0.5rem auto 1rem;
}

.flexNorm{
    display: flex;
    width: 100%;
}

.Saving input {
    margin: 1rem;
    width: 80%;
}

.savingFlex{
    display: flex;
    justify-content: center;
    width: 100%;
}