.Calculator {
    display: flex;
    justify-content: center;
    margin: 6rem 4rem;
}

.buyingFlex{
    display: flex;
    /* width: 36rem; */
    /* margin: 0rem 1rem;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 15px 50px; */
}

.colFlex{
    display: flex;
    flex-direction: column;
    width: 42rem;
    margin: 1rem 0;
}

.buySection{
    margin: 1rem 0;
    width: 42rem;
}

.rentSection{
    margin: 1rem 0;
}

.saveSection{
    margin: 1rem 0;
}

.botSpacer{
    height: 10rem;
    width: 100%;
}