.Renting {
    width: 38rem;
    margin: auto;
}

.flexNorm{
    display: flex;
    width: 100%;
}

.flexNorm p{
    /* all: unset; */
    font-size: 0.8rem;
}


.adminFont{
    margin-top: 0;
}


.RentingWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #05A;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 10px 6px -6px #777;
}

.Renting label {
    width: 100%;
}

.Renting h3 {
    width: 100%;
    margin: 0.5rem;
}

.Renting h4{
    /* all: unset; */
    /* font-weight: bold; */
    /* vertical-align: middle; */
    margin: 0.5rem auto 1rem;
}

.Renting input {
    margin: 0.5rem;
    width: 80%;
}


.refInput{
    width: 2.5rem !important;
}

.adminInput{
    width: 100%;
}

.flexNorm{
    display: flex;
    width: 100%;
}

.refFlex {
    /* margin: 1rem auto; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* height: 2.5rem; */
}

.refFlex p{
    font-size: 0.8rem;
    width: 3rem;
    text-align: left;
}

.refFlex h5{
    margin: 0 auto;
}

.secDepFlex{
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.secDepFlex p{
    font-size: 0.8rem;
}

/* .secDepFlex label{
    width: 10rem;
    margin: auto;
    font-size: 0.9rem;
    display: flex;
    justify-content: space-between;
} */

.secDepFlex input{
    width: 12rem !important;
}

.secDepFlex select{
    margin: 0.5rem;
}

.colFlex{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 4rem;
}

.colFlex p{
    all: unset;
    font-size: 0.8rem;
}

.Rent h5{
    margin: 0 auto 1rem;
}