.RentInput {
    width: 38rem;
    margin: auto;
}

.flexNorm{
    display: flex;
    width: 100%;
}

.flexNorm p{
    /* all: unset; */
    font-size: 0.8rem;
}


.adminFont{
    margin-top: 0;
}


.RentInput form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.RentInput label {
    width: 100%;
}

.RentInput h3 {
    width: 100%;
    margin: 0.5rem;
}

.RentInput h4{
    all: unset;
    font-weight: bold;
    vertical-align: middle;
}

.RentInput input {
    margin: 0.5rem;
    width: 80%;
}


.refInput{
    width: 2.5rem !important;
}

.adminInput{
    width: 100%;
}

.flexNorm{
    display: flex;
    width: 100%;
}

.refFlex {
    margin: 1rem auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 2.5rem;
}

.refFlex p{
    font-size: 0.8rem;
    width: 3rem;
    text-align: left;
}

.secDepFlex{
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.secDepFlex label{
    width: 10rem;
    margin: auto;
    font-size: 0.9rem;
    display: flex;
    justify-content: space-between;
}

.secDepFlex input{
    width: 12rem !important;
}